server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  # Con 3 instancias:
  - url: http://172.17.0.8:3100/loki/api/v1/push
  # Pruebas 1 instancia
  # - url: http://172.17.0.6:3100/loki/api/v1/push

scrape_configs:
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          __path__: /usr/src/app/apache_logs.log
